//size
$w: 100%;
$h: 100%;
//color
$white: white;
$black: black;
$yellow: #FCBD14;
$green: #2FA56C;
$c1: #436591;
$c2: #000;
//fonts
$S: 'Stapel';
$Sm: 'Stapel Medium';
$M: 'Montserrat';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@mixin txt ($color, $line-height, $font-size, $font-weight, $font-family) {
    color: $color;
    line-height: $line-height;
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $font-family, sans-serif;
}

@font-face {
    font-family: 'Stapel';
    src: url(../fonts/Stapel_Regular.otf);
}

@font-face {
    font-family: 'Stapel Medium';
    src: url(../fonts/Stapel_Medium.otf);
}

* {
    padding: 0;
    margin: 0;
}

.header {
    height: 74px;
    background: $c1;
    box-shadow: 0px -6px 24px $c1;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin: 0 0 32px 0;

    &-logo {
        margin: 0 ($w - 95.1500732%) 0 ($w - 88.2869693%);
    }

    &-nav {
        margin: 0 ($w - 93.704246%) 0 0;

        &-list {
            list-style-type: none;
            display: flex;

            &-item {
                &-link {
                    @include txt(white, 17px, 14px, normal, $M);
                    text-decoration: none;
                }

                &:not(:last-child) {
                    margin: 0 24px 0 0;
                }
            }
        }
    }

    &-contact {
        display: flex;

        a {
            @include txt(white, 17px, 14px, 600, $M);
            text-decoration: none;
        }

        .tel {
            margin: 0 24px 0 0;
        }
    }
}

.main {
    .general {
        display: block;
        width: ($w - 38.9458272%);
        margin: 0 auto;
        background: $yellow;
        border-radius: 15px;
        padding: 30px 60px;
        position: relative;

        &-title {
            @include txt($white, 53px, 42px, normal, $Sm);
            display: block;
            width: 539px;
            margin: 0 0 15px 0;
        }

        &-text {
            @include txt($white, 30px, 24px, normal, $S);
            display: block;
            width: 448px;
            margin: 0 0 80px 0;
        }

        &-btn {
            @include txt($white, 23px, 18px, normal, $S);
            text-decoration: none;
            background: $green;
            display: block;
            width: 100px;
            border-radius: 10px;
            padding: 10px 49px;
        }

        &-human {
            display: block;
            max-width: $w;
            height: auto;
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }
}