//size
$w: 100%;
$h: 100%;
//color
$white: white;
$black: black;
$yellow: #FCBD14;
$green: #2FA56C;
$blue: #2389CA;
$red: #ED6E44;
$c1: #436591;
$c2: #1F2630;
$c3: #7A8698;
$c4: #7DBCE4;
$c5: #E1E7EF;
$c6:#F8FAFD;
//fonts
$S: 'Stapel';
$Sm: 'Stapel Medium';
$M: 'Montserrat';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@mixin txt ($color, $line-height, $font-size, $font-weight, $font-family) {
    color: $color;
    line-height: $line-height;
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $font-family, sans-serif;
}

@font-face {
    font-family: 'Stapel';
    src: url(../fonts/Stapel_Regular.otf);
}

@font-face {
    font-family: 'Stapel Medium';
    src: url(../fonts/Stapel_Medium.otf);
}

* {
    padding: 0;
    margin: 0;
}

.header {
    height: 74px;
    background: $c1;
    box-shadow: 0px -6px 24px $c1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 32px 0;

    &-nav {
        margin: 0 ($w - 93.704246%) 0 ($w - 95.1500732%);

        &-list {
            list-style-type: none;
            display: flex;

            &-item {
                &-link {
                    @include txt(white, 17px, 14px, normal, $M);
                    text-decoration: none;
                }

                &:not(:last-child) {
                    margin: 0 24px 0 0;
                }
            }
        }
    }

    &-contact {
        display: flex;

        a {
            @include txt(white, 17px, 14px, 600, $M);
            text-decoration: none;
        }

        .tel {
            margin: 0 24px 0 0;
        }
    }
}

.main {
    .general {
        display: block;
        width: ($w - 38.9458272%);
        margin: 32px auto 42px;
        background: $yellow;
        border-radius: 15px;
        padding: 30px 60px;
        position: relative;

        &-title {
            @include txt($white, 53px, 42px, normal, $Sm);
            display: block;
            width: 539px;
            margin: 0 0 15px 0;
        }

        &-text {
            @include txt($white, 30px, 24px, normal, $S);
            display: block;
            width: 448px;
            margin: 0 0 80px 0;
        }

        &-btn {
            @include txt($white, 23px, 18px, normal, $S);
            text-decoration: none;
            background: $green;
            display: block;
            width: 100px;
            border-radius: 10px;
            padding: 10px 49px;
        }

        &-human {
            display: block;
            max-width: $w;
            height: auto;
            position: absolute;
            bottom: 0px;
            right: 0px;
        }

        &-stock {
            @include txt($c2, 23px, 18px, normal, $S);
            position: absolute;
            right: 0px;
            bottom: -32px;
        }
    }

    .rates {
        background-color: $c6;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 27px 0 56px;

        .title {
            width: 100%;
            text-align: center;
            // margin: 0 0 56px 0;
        }

        input[name=field] {
            display: none;
        }

        input[name=field]+label {
            display: inline-block;
            @include txt($c3, 18px, 14px, normal, $S);
            padding: 0 0 10px 0;
            border-bottom: 2px solid #E1E7EF;

            &:not(:last-child) {
                margin: 0 32px 0 0;
            }

            &:hover {
                color: $c2;
                border-bottom: 2px solid $c4;
                transition: all 0.2s;
            }
        }

        input[name=field]:checked+label {
            color: $c2;
            border-bottom: 2px solid $c4;
        }

        // sw1
        #sw1:checked~.stb {
            display: flex;
        }

        #sw1:checked~.len {
            display: none;
        }

        #sw1:checked~.rate {
            display: none;
        }

        // sw2
        #sw2:checked~.stb {
            display: none;
        }

        #sw2:checked~.len {
            display: flex;
        }

        #sw2:checked~.rate {
            display: none;
        }

        // sw3
        #sw3:checked~.stb {
            display: none;
        }

        #sw3:checked~.len {
            display: none;
        }

        #sw3:checked~.rate {
            display: flex;
        }

        .stb,
        .len,
        .rate {
            display: flex;
            justify-content: center;
            margin: 56px 0 0 0;

            .block {
                background-color: $white;
                width: 205px;
                border: 1px solid $c5;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                padding: 15px 18px 13px;
                position: relative;

                &-title {
                    @include txt($c2, 40px, 32px, normal, $S);
                    width: 100%;
                    text-align: center;
                    margin: 0 auto 9px;
                }

                &-text {
                    @include txt($c2, 15px, 12px, bormal, $S);
                    width: 204px;
                    height: 60px;
                    text-align: left;
                    margin: 15px auto 36px;
                }

                &-connect {
                    width: 204px;
                    margin: 0 auto 21px;
                    @include txt($c3, 18px, 14px, normal, $S);

                    .left {
                        float: left;
                    }

                    .right {
                        float: right;
                        color: $c2;
                    }
                }

                &-speed {
                    width: 204px;
                    margin: 0 auto 24px;
                    @include txt($c3, 18px, 14px, normal, $S);

                    .left {
                        float: left;
                    }

                    .right {
                        float: right;
                        color: $c2;
                    }
                }

                &-price1 {
                    @include txt($c2, 30px, 24px, 500, $Sm);
                    width: $w;
                    margin: 17px 0 0 0;
                    text-align: left;
                }

                &-price2 {
                    @include txt($c3, 18px, 14px, normal, $S);
                    margin: 0 0 20px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    .left {
                        float: left;
                    }

                    .right {
                        float: right;
                        font-size: 8px;
                        line-height: 10px;
                    }
                }

                &-btn {
                    @include txt($white, 23px, 18px, normal, $S);
                    text-decoration: none;
                    background: $green;
                    display: block;
                    margin: 0 auto;
                    border-radius: 10px;
                    padding: 10px 19px;
                }

                .line {
                    color: $c5;
                }


                &:not(:last-child) {
                    margin: 0 61px 0 0;
                }

                &::before {
                    content: '.';
                    color: $yellow;
                    width: 240px;
                    height: 9px;
                    background-color: $yellow;
                    border-radius: 5px 5px 0 0;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }
            }

            .block:nth-child(2) {
                box-shadow: 0px 25px 25px 2px rgba(0, 0, 0, 0.1);

                &::before {
                    background-color: $blue;
                }
            }

            .block:nth-child(3) {

                &::before {
                    background-color: $red;
                }
            }
        }
    }

    .desc {
        position: relative;

        .blue {
            position: absolute;
            top: -31%;
            left: 0;
        }

        .text {
            @include txt($white, 23px, 18px, normal, $S);
            width: 455px;
            margin: 79px 0 48px 28%;
            position: relative;

        }

        .before::before {
            content: url(../img/orange.svg);
            position: absolute;
            top: -30px;
            left: -83px;
            z-index: -1;
        }

        .text:last-child {
            @include txt($c2, 23px, 18px, normal, $S);
            width: 560px;
            margin: 0 0 45px 22%;
            position: relative;

            &::after {
                content: url(/img/yellow.svg);
                position: absolute;
                top: -18.18px;
                right: -206px;
                z-index: -1;
            }
        }
    }

    .tv-service {
        padding: 51.5px 0;
        background-color: $c6;

        .box {
            width: 906px;
            height: 205px;
            border: 1px solid #E4E9EF;
            box-shadow: 0px 20px 30px -15px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            padding: 21px 27px 14px;
            margin: 0 auto;
            position: relative;

            &-title {
                @include txt($c2, 40px, 32px, 500, $Sm);
                width: 214px;
                margin: 0 0 16px 0;
            }

            &-text {
                @include txt($c2, 20px, 16px, normal, $S);
                width: 363px;
                margin: 0 0 29px 0;
            }

            &-btn {
                @include txt($c2, 23px, 18px, normal, $S);
                text-decoration: none;
                width: 100px;
                padding: 10px 49px;
                border: 2px solid $green;
                border-radius: 10px;
            }

            .family {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }
    }

    .stonk {
        display: flex;
        justify-content: center;
        padding: 50.5px 0;

        .title {
            @include txt($white, 30px, 24px, 500, $Sm);
        }

        .text {
            @include txt($white, 18px, 14px, normal, $S);
        }

        .btn {
            @include txt($c2, 23px, 18px, normal, $S);
            text-decoration: none;
            width: 100px;
            display: block;
            padding: 10px 49px;
            border: 2px solid $green;
            border-radius: 10px;
            margin: 10px 0 0 27px;
        }

        .orange {
            width: 460px;
            background-color: $white;
            box-shadow: 0px 20px 30px -15px rgba(241, 131, 56, 0.6);
            padding: 0 0 19px 0;
            margin: 0 40px 0 0;

            &-bgc {
                background: linear-gradient(98.07deg, #ED6E44 -5.24%, #FCBD14 85.53%, $white 126.15%), #F6AE96;
                border-radius: 15px 15px 0 0;
                padding: 21px 200px 35px 27px;
                position: relative;

                .title {
                    width: 233px;
                    display: block;
                    margin: 0 0 40px 0;
                }

                .text {
                    width: 200px;
                }

                .woman {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }

        .green {
            width: 460px;
            background-color: $white;
            box-shadow: 0px 20px 30px -15px rgba(40, 148, 168, 0.7);
            padding: 0 0 19px 0;

            &-bgc {
                background: linear-gradient(120.27deg, #2FA56C -2.27%, #2389CA 104.54%), $white;
                border-radius: 15px 15px 0 0;
                padding: 10px 200px 10px 27px;
                position: relative;

                .title {
                    width: 150px;
                    display: block;
                    margin: 0 0 10px 0;
                }

                .text {
                    width: 200px;
                    margin: 0 0 20px 0;
                }

                .man {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }

    .form {
        width: 761px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0 12%;
        padding: 35px 0 21px;

        .title {
            width: $w;
            @include txt($c2, 40px, 32px, 500, $Sm);
            text-align: left;
            margin: 0 0 42px 0;
        }

        div {
            display: flex;
            flex-direction: column;
        }

        label {
            @include txt($c2, 20px, 16px, normal, $S);
        }

        input[type=nubmber],
        input[type=text],
        input[type=tel],
        input[type=email] {
            border: none;
            border-bottom: 1px solid $c4;
            margin: 10px 0 0 0;
        }

        input:active,
        input:hover,
        input:focus {
            outline: 0;
            outline-offset: 0;
            border-bottom: 1px solid $blue;
            transition: all .2s;
        }

        .name {
            width: 460px;
            margin: 0 40px 32px 0;
        }

        .street {
            width: 260px;
        }

        .tel {
            width: 160px;
            margin: 0 40px 39px 0;
        }

        .email {
            width: 260px;
            margin: 0 40px 0 0;
        }

        .home {
            width: 60px;
            margin: 0 40px 0 0;
        }

        .flat {
            width: 60px;
        }

        .text {
            width: $w;
            @include txt($c2, 20px, 16px, normal, $S);
            margin: 0 0 21px 0;
        }

        input[id=text] {
            margin: 10px 11px 0 0;
        }

        label[for=text] {
            @include txt($c3, 20px, 16px, normal, $S);

            &:not(:last-child) {
                margin: 0 25px 0 0;
            }

            b {
                color: $c2;
            }
        }

        .bottom {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            margin: 44px 0 0 0;

            label {
                width: 371px;
                order: -2;
            }

            .btn {
                @include txt($white, 23px, 18px, normal, $S);
                display: block;
                background-color: $green;
                border-radius: 10px;
                padding: 10px 19px;
                border: none;
                margin: 0 44px 0 0;
                opacity: 0.5;
                pointer-events: none;
                order: 1;
            }

            input[name=text] {
                order: -1;
            }

            input[name=text]:checked~.btn {
                opacity: 1;
                pointer-events: auto;
            }

            #text {
                margin: 0 9px 0 0;
                width: 18px;
                height: 18px;
            }
        }
    }

    .all {
        display: flex;
        justify-content: center;
        padding: 60px 0 55px 0;

        .small,
        .big,
        .very-small {
            position: relative;

            img {
                position: relative;
                z-index: -1;
            }

            .title {
                @include txt($white, 23px, 18px, 500, $Sm);
                width: 175px;
                position: absolute;
                top: 13px;
                left: 14px;
            }

            .text {
                @include txt($white, 20px, 16px, normal, $S);
                width: 246px;
                position: absolute;
                top: 85px;
                left: 14px;
            }

            .btn {
                position: absolute;
                top: 171px;
                left: 14px;


                input[type=checkbox] {
                    display: none;
                }

                label {
                    @include txt($white, 18px, 14px, normal, $S);
                    padding: 5px 13px 7px 13.83px;
                    border-radius: 10px;
                    border: 1px solid $white;

                    &::before {
                        content: url(../img/arrow-down.svg);
                        margin: 0 7.83px 0 0;
                    }
                }

                input[type=checkbox]:checked~label::before {
                    content: url(../img/arrow-up.svg);
                }

                .content {
                    position: absolute;
                    top: -200%;
                    left: -10%;

                    .text {
                        width: 246px;
                        @include txt($white, 10px, 8px, normal, $S);
                    }
                }

                #switch1:checked~div {
                    background-color: none;
                }
            }

        }

        .very-small {
            .text {
                position: absolute;
                top: 75px;
            }
        }

        .big {
            margin: 0 45px;
        }
    }
}

.footer {
    height: 253px;
    background-color: $c1;
    display: flex;
    align-items: center;
    justify-content: center;

    &-logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-img {
            margin: 0 0 21.41px 0;
        }

        .copyright {
            @include txt($white, 15px, 12px, normal, $S);
        }
    }

    &-contacts {
        width: 220px;
        margin: 0 2.5% 0 52px;
        display: flex;
        flex-wrap: wrap;

        span,
        a {
            @include txt($white, 18px, 14px, normal, $S);
        }

        .title {
            display: block;
            width: 270px;
            margin: 0 0 21px 0;
        }

        .contact-title {
            width: $w;
            margin: 0 0 15px 0;
        }

        .tel {
            margin: 0 12px 7px 0;
            text-decoration: none;
        }

        .email {
            text-decoration: none;
        }

        .margin {
            margin: 0 0 25px 0
        }
    }

    &-nav {
        margin: 165px ($w - 93.704246%) 0 ($w - 95.1500732%);

        &-list {
            list-style-type: none;
            display: flex;

            &-item {
                &-link {
                    @include txt(white, 17px, 14px, normal, $M);
                    text-decoration: none;
                }

                &:not(:last-child) {
                    margin: 0 24px 0 0;
                }
            }
        }
    }
}